*{
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-card{
    width: 300px;
    margin: 5%;
    background-color: rgb(118, 118, 193);
    border-radius: 2em;
}

.image-card > img {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.description-card{
    padding: 1em 1em 1em;
    background-color: white;
}

h3{
    font-size: 1em;
    color: black;
    padding: 5px;
}

p{
    font-size: 1em;
    color: black;
    padding: 3px;
}